.profile__button-add {
    background-image:url(../../../images/Add-batton.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    margin-left: auto;
    margin-right: 5px;
    width: 150px;
    height: 50px;
    align-self: center;
    border: 2px solid #fff;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: 0.5s;
  }
  
  @media screen and (max-width: 900px) {
    .profile__add-button {
      width: 282px;
      margin: 36px auto 0;
    }
  }
  